# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
DerivedData/
.derivedData/
**/.derivedData/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific data
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage / profiling
*.gcda
*.gcno
*.profdata

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDEs
.idea/
*.swp
*~

# Archives
*.xcarchive
